<section class="h-75">

     <div class="container">
          <div class="row">
               <h3 class="fw-normal mb-3" style="letter-spacing: 1px;">Edit Recipe</h3>
          </div>

          <form class="edit-recipe-form">

               <div class="row">

                    <!-- Recipe name -->
                    <div class="col-md-6 text-black">
                         <div class="mb-3">
                              <label for="edit-recipe-name-input" class="form-label">Recipe Name</label>
                              <input class="form-control" id="edit-recipe-name-input" type="text"
                                   placeholder="Enter Recipe name" aria-label="Recipe name" value="{{ recipe.name }}" />
                         </div>
                    </div>

                    <!-- Recipe Category -->
                    <div class="col-md-4 text-black">
                         <div class="mb-3">
                              <label for="category-id" class="form-label">Category</label>
                              <select id="category-id" class="h-custom-2 form-select form-control-sm">
                                   <option value={{ recipe.category.id }}>{{ recipe.category.name }}</option>
                                   {{#each categories as |category|}}
                                   <option value={{ category.id }}>{{ category.name }}</option>
                                   {{/each}}
                              </select>
                         </div>
                    </div>
               </div>

               <!-- Header for ingredients -->
               <div class="row">
                    <div class="col-md-10">
                         <div class="row">
                              <div class="col-md-6">
                                   <p>Ingredient Name</p>
                              </div>
                              <div class="col-md-3">
                                   <p>Measurement</p>
                              </div>
                              <div class="col-md-2">
                                   <p>Unit</p>
                              </div>
                         </div>
                    </div>
               </div>

               {{!-- id=ingredient.id --}}

                         <!-- Section Ingredients -->
               <div class="row mb-1">
                    <div class="col-md-10 ingredients-section">
                         {{#each recipe.ingredients as |ingredient| }}
                         <div class="row mb-1 existing-ingredient">
                              <div class="col-md-6">
                                   <input class="form-control edit-ingredient-name-value" type="text" value="{{ingredient.ingredient}}" />
                              </div>
                              <div class="col-md-3 text-center">
                                   <input class="form-control  edit-ingredient-measurement-value" type="text" value="{{ingredient.measurement}}" />
                              </div>
                              <div class="col-md-2">
                                   <select class="h-custom-2 form-select form-control-sm edit-measurement-unit-value">
                                        <option>{{ingredient.unit}}</option>
                                        {{> measurement-units }}
                                   </select>
                                   {{!-- <input class="form-control edit-measurement-unit-value" type="text" value="{{ingredient.unit}}"> --}}
                              </div>
                         </div>
                         {{/each}}
                    </div>
               </div>

               <div class="row mb-1">
                    <div class="col-md-10 ingredients-section">
                    </div> <!-- Append new ingredient line -->
               </div>

               <!-- Section Ingredients -->
               <div class="row mb-2">
                    <div class="col-md-10">
                         <div class="row">
                              <div class="col-md-6">
                                   <input class="form-control edit-ingredient-name-value name-input" type="text" id="add-ingredient-name-input"
                                        name="add-ingredient-name" aria-label="Ingredien name" />
                              </div>
                              <div class="col-md-3">
                                   <input class="form-control edit-ingredient-measurement-value measure-input" type="text" id="add-ingredient-measurement-input"
                                        name="add-ingredient-measurement" aria-label="Ingredient measurement" />
                              </div>
                              <div class="col-md-2">
                                   <select class="h-custom-2 form-select form-control-sm edit-measurement-unit-value" id="add-measurement-unit-input">
                                   {{> measurement-units }}
                                   </select>
                                   {{!-- <input class="form-control edit-measurement-unit-value" type="text" id="add-measurement-unit-input"
                                        name="add-measurement-unit" aria-label="Measurement unit" /> --}}
                              </div>
                              <div class="col-md-1 ingredients-inputs-section">
                                   <button class="btn wide-button add-ingr-button" id="add-ingredient-button" type="button"
                                        style="background-color: #842029;" disabled>
                                        <i class="bi bi-plus-square-dotted" style="color: white"></i>
                                   </button>
                              </div>
                         </div>
                    </div>
               </div>

               <!-- Section Preparations -->
               <div class="row mt-3 mb-5">
                    <div class="col-md-10">
                         <label id="instructions-label" for="edit-recipe-instructions" class="form-label"><strong>Preparation Instructions</strong></label>

                         <textarea class="form-control mb-3 edit-recipe-instructions-input" id="edit-recipe-instructions-input" rows="10"
                              name="edit-post-content">{{ recipe.instructions }}</textarea>

                         <button id="update-button" class="btn mr-1 mt-1" style="background-color: green;color:white"><i
                                   class="bi bi-send-check"></i> Update Recipe</button>
                         <button id="delete-button" class="btn mr-1 mt-1" style="background-color: #842029;color:white;width:150px"><i
                                   class="bi bi-apple"></i> Delete Recipe</button>
                         <a class="btn btn-dark mr-1 mt-1" style="width:150px" href="/list"><i class="bi bi-door-open"></i>
                              Go Back</a>
                    </div>

               </div>
          </form>

     </div>

</section>

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
    simplemde = new SimpleMDE();
</script>

<script src="/js/update-recipe.js"></script>
<script src="/js/delete-recipe.js"></script>